<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>signup</title>

</head>
<body>
   
    <div class="container">
        <%- include('./partials/signupform.ejs') %>
    </div>
    <%- include('./partials/scripts.ejs') %>
</body>
</html>